<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
              <h1>Sjoelorama!</h1>
              <p>
                hier komen de regels..
              </p>
            </div>
          </div>
        <table class="table">
            <tr>
                <th>naam</th>
                <th>poort 1</th>
                <th>poort 2</th>
                <th>poort 3</th>
                <th>poort 4</th>
            </tr>
            <tr>
                <td>
                   1 
                </td>

                <td>
                    2 
                 </td>

                 <td>
                    3 
                 </td>

                 <td>
                    4 
                 </td>

                 <td>
                    5 
                 </td>
            </tr>
        </table>
    </body>
</html>