<!-- hier komen de huidige score -->
{% extends "base.html" %}
{% block content %}

<script>
    function update_score(huidige_speler)
    {
        var min = Math.min.apply(Math,huidige_speler.speler_punten);
        console.log(min)
        huidige_speler.speler_score = min * 20;
        for(var i = 0; i < 4; i++)
        {
            huidige_speler.speler_score +=  (i+1) * huidige_speler.speler_punten[i];
        }
        document.getElementById("p1s"+huidige_speler.spelerid).innerText = huidige_speler.speler_punten[0];
        document.getElementById("p2s"+huidige_speler.spelerid).innerText = huidige_speler.speler_punten[1];
        document.getElementById("p3s"+huidige_speler.spelerid).innerText = huidige_speler.speler_punten[2];
        document.getElementById("p4s"+huidige_speler.spelerid).innerText = huidige_speler.speler_punten[3];
        document.getElementById("scs"+huidige_speler.spelerid).innerText = huidige_speler.speler_score;    
    }

    var spelers = []
    var actief = false;
    //{% for speler in spelers %}
    spelers.push(
        {
            spelerid: "{{speler.id}}",
            spelernaam: "{{speler.naam}}",
            speler_punten: [0,0,0,0],
            speler_score: 0
        }
    )
    //{% endfor %}

    function show_speler()
    {
        for(var i = 0; i < spelers.length; i++)
        {
            console.log("nm"+i)
            document.getElementById("nm"+i).innerHTML = spelers[i].spelernaam;

        }
        document.getElementById("nm"+huidige_speler.spelerid).innerHTML = "<b>"+huidige_speler.spelernaam+"</b>";
    }
    function volgende_speler()
    {
        huidige_speler_id++;
        if(huidige_speler_id >= spelers.length - 1)
        {
            document.getElementById("nextbtn").innerText = "Beeindig spel!";
        }
        if(huidige_speler_id >= spelers.length)
        {
            winnaar = spelers[0];
            for(var i = 0; i < spelers.length; i++)
            {
                if(spelers[i].speler_score > winnaar.speler_score)
                {
                    winnaar = spelers[i]
                }

            }
            let url = `/winnaar?naam=${winnaar.spelernaam}&score=${winnaar.speler_score}`;
            location.replace(url);
        }

        huidige_speler = spelers[huidige_speler_id]
        show_speler();


    }
    function start_spel()
    {
        actief = true
        show_speler();
        document.getElementById("startbtn").disabled = true; 
        document.getElementById("nextbtn").disabled = true;
        document.getElementById("stopbtn").disabled = false;   
        
    }
    function stop_spel()
    {
        actief = false
        document.getElementById("startbtn").disabled = false; 
        document.getElementById("nextbtn").disabled = false;
        document.getElementById("stopbtn").disabled = true;  
    }

    huidige_speler_id = 0
    huidige_speler = spelers[huidige_speler_id]
    var source = new EventSource("/listen");
    source.onmessage = function(event) {
        // console.log(event.data);
        console.log(event.data)
        if(actief)
        {
            poort = Number(event.data) - 1;
            huidige_speler.speler_punten[poort]++;
            update_score(huidige_speler)
        }
    }; 



</script>

<table class="table">
    <tr>
        <th>naam</th>
        <th>poort 1</th>
        <th>poort 2</th>
        <th>poort 3</th>
        <th>poort 4</th>
        <th>score</th>
    </tr>
    {% for speler in spelers %}
    <tr>
        
        <td><div id="nm{{speler.id}}">{{speler.naam}} </div></td>
        <td><div id = "p1s{{speler.id}}">0</div></td>
        <td><div id = "p2s{{speler.id}}">0</div></td>
        <td><div id = "p3s{{speler.id}}">0</div></td>
        <td><div id = "p4s{{speler.id}}">0</div></td>
        <td><div id = "scs{{speler.id}}">0</div></td>
    </tr>
    {% endfor %}
    <button type="button" id= "stopbtn"  onclick="stop_spel()" class="btn btn-success" disabled>Stop!</button>
    <button type="button" id= "startbtn" onclick="start_spel()" class="btn btn-success">Start!</button>
    <button type="button" id= "nextbtn" onclick="volgende_speler()" class="btn btn-success" disabled>Volgende speler</button>
    
   
</table>
{% endblock %}